$primary: #3b82f6;
.pagination-button {
  width: 4rem;
  height: 4rem;
  text-align: center;
  color: #a1a1aa;
  background-color: none;
  @media (prefers-color-scheme: light) {
    color: #71717a;
    background-color: none;
  }

  &.active {
    font-weight: bold;
    color: #a1a1aa !important;
    background-color: #3f3f46 !important;
    @media (prefers-color-scheme: light) {
      color: #71717a !important;
      background-color: #f4f4f5 !important;
    }
  }
}
